/* 
 * Main CSS File
 *
 * @author Rubens Gomes
*/
.output-box {
  margin: 2em auto !important;
}

.success,
.error {
  font: bold;
}

.error {
  padding: 0.2em;
  background-color: #FFD6DF;
  color: red;
}

.app-content-loading {
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.center-wrapper {
  text-align: center;
}

.center-wrapper * {
  margin: 0 auto;
}

.vert-margin-large {
  margin: 2em auto;
}

.red {
	color: red;
}

#warning {
	position:relative; 
	top:0px; 
	width:100%; 
	height:50px; 
	background-color:#fff; 
	margin-top:0px; 
	padding:8px; 
	border-bottom:solid 4px #000066
}
