<h1>Welcome</h1>

<p>
This <a data-rel="close" href="/appsgo/about">site</a> was
created by <a href="http://www.rubens-gomes.com/">Rubens Gomes</a>
for viewing on mobile smartphone and tablet devices. It provides unit conversion 
utilities for 
<a data-rel="close" href="/appsgo/length">length</a>,
<a data-rel="close" href="/appsgo/temperature">temperature</a>,
<a data-rel="close" href="/appsgo/mass">mass</a>, as well as money 
<a data-rel="close" href="/appsgo/currency">currency rates</a>.
It also has a <a href="/appsgo/iot">link</a> to see an Internet of Things (IoT) project
showing live room temperature sensor readings from Rubens' home.
</p>
<p>
Open the <a data-rel="close" href="/#slider-menu">sidebar</a>
menu and start testing features.
</p>