<form>

  <div class="center-wrapper">

    <input id="tempValueId"
              class="vert-margin-large"
              style="text-align: center;"
              type="number"
              required
              placeholder="Type a number..."
              value=""
              data-ng-model="value"
              data-ng-blur="units.doneInput(value)"
              data-ng-keypress="($event.which === 13) ? units.cToF(value) : 0" />

    <fieldset class="ui-grid-a">
      <div class="ui-block-a">
        <a href="" data-role="button" data-theme="c"
             class="ui-shadow ui-btn ui-corner-all"
             data-ng-click="units.cToF(value)">&deg;C to &deg;F</a>
      </div>
      <div class="ui-block-b">
        <a href="" data-role="button" data-theme="b"
             class="ui-shadow ui-btn ui-corner-all"
             data-ng-click="units.fToC(value)">&deg;F to &deg;C</a>
      </div>
    </fieldset>

    <div data-ng-include="'views/output.tpl.html'"></div>

  </div>
</form>

<p><span us-spinner spinner-key="spinner-1"></span></p>
