<p>
This is a non-commercial 
<a href="http://www.w3.org/TR/html5/">HTML 5</a> based web application 
site designed, optmized and implemented for viewing on mobile "smartphone" 
and tablets devices.  This mobile web site was developed by 
<a href="http://www.rubens-gomes.com/">Rubens Gomes</a>.  The mobile
web application site makes use of back-end HTTP
<a href="http://www.ics.uci.edu/~fielding/pubs/dissertation/rest_arch_style.htm">REST</a> 
calls to web services implemented in the 
<a href="https://www.python.org/">Python</a> programming language.  The
web services are located and accessible at
<a href="http://restportal.com/">RESTportal.com</a>. The front-end pages
were implemented using the JavaScript programming language using 
the <a href="https://angularjs.org/">AngularJS</a> framework and
<a href="http://jquerymobile.com/">JQuery Mobile</a> librariers.
</p>
<p>
Software Release Version:  2015.12.dev1
</p>


