<p>
This is a non-commercial 
<a href="http://www.w3.org/TR/html5/">HTML 5</a> based web application 
site designed, optmized and implemented for viewing on mobile "smartphone" 
and tablets devices.  It was developed making use of back-end HTTP
<a href="http://restportal.com/">RESTful</a> calls to web services 
implemented in the Python programming language at
<a href="http://restportal.com/">RESTportal.com</a>. The front-end pages
were implemented using the JavaScript programming language using 
the <a href="https://angularjs.org/">AngularJS</a> framework and
<a href="http://jquerymobile.com/">JQuery Mobile</a> librariers.
</p>
<p>
Software Release Version:  2015.9.dev2
</p>
<p>
<br />
<br />
Site created by <a href="http://www.rubens-gomes.com/">Rubens Gomes</a>.
</p>

