<form>

  <div class="center-wrapper">

    <h1>UNDER DEVELOPMENT!!!</h1>

    <p>
    Search your name in the
    <a href="http://agilemanifesto.org//" target="_blank">Agile Manifesto</a> Signatory pages.
    </p>

    <input id="name"
           class="vert-margin-large"
           style="text-align: center;"
           type="text"
           required
           placeholder="Type a name..."
           value=""
           ng-blur="doneInput(value)"
           ng-model="value"
           ng-keypress="($event.which === 13) ? searchSignatoryPages(value) : 0" />

    <fieldset id="buttonSearchFieldset"
              style="margin-top: 0.5em;" class="ui-grid-solo ui-responsive">
      <div class="ui-block-a">
        <a href="" data-role="button" data-theme="c"
           class="ui-shadow ui-btn ui-corner-all"
           ng-click="searchSignatoryPages(value)">Search</a>
      </div>
    </fieldset>

    <ng-include src="'views/output.tpl.html'"  />

  </div> <!-- center-wrapper -->

</form>

<br />
<p><span us-spinner spinner-key="spinner-1"></span></p>


