<div class="center-wrapper">

  <div class="vert-margin-large">
    <label for="currency" class="select">US Dollar To:</label> <select
             data-ng-model="currency.currency"
             data-ng-options="c.label for c in currency.currencies track by c.value"
             data-mini="true"
             data-inline="true"
             data-ng-keypress="($event.which === 13) ? currency.toCurrency(currency.currency.value) : 0"
             data-ng-change="currency.toCurrency(currency.currency.value)">
    </select>
  </div>

  <div data-ng-include="'views/output.tpl.html'"></div>

</div>

<br />

<p><span us-spinner spinner-key="spinner-1"></span></p>
