<form>
<div class="center-wrapper">

  <div class="vert-margin-large">
    <label for="currency" class="select">US Dollar To:</label>
    <select ng-model="currency"
            ng-options="c.label for c in currencies track by c.value"
            data-mini="true"
            data-inline="true"
            ng-keypress="($event.which === 13) ? toCurrency(currency.value) : 0"
            ng-change="toCurrency(currency.value)">
    </select>
  </div>

  <ng-include src="'views/output.tpl.html'"  />

</div> <!-- center-wrapper -->
</form>

<br />
<p><span us-spinner spinner-key="spinner-1"></span></p>