<h1>Welcome</h1>

<p>
This is an experiemental mobile web application created by
<a href="http://www.rubens-gomes.com/">Rubens Gomes</a>.
</p>

<p>
This application provides several unit conversion utilities,
<a data-rel="close" href="/currency">currency rates</a>,
and a <a href="/iot">link</a> to see an IoT (Internet of Things) project
showing live room temperature sensor readings from Rubens' home.
</p>

<p>
This mobile web app was developed using back-end
<a href="http://restportal.com/">REST APIs</a> implemented in
the Python programming language, and the front-end pages
were implemented using <a href="https://angularjs.org/">AngularJS</a>,
<a href="http://jquerymobile.com/">JQuery Mobile</a>,
<a href="http://www.w3.org/TR/html5/">HTML 5</a> and the
JavaScript programming language.
</p>

<p>
Open the sidebar menu and start testing features.
</p>
