<h1>Welcome</h1>

<p>
This site has been optimized for viewing on a mobile phone.  It was created by
<a href="http://www.rubens-gomes.com/">Rubens Gomes</a>.
</p>

<p>
This mobile site provides unit conversion utilities,
<a data-rel="close" href="/currency">currency rates</a>,
and a <a href="/iot">link</a> to see an Internet of Things (IoT) project
showing live room temperature sensor readings from Rubens' home.
</p>

<p>
This mobile site was developed using back-end
<a href="http://restportal.com/">REST APIs</a> implemented in
the Python programming language.  The front-end pages
were implemented using the JavaScript programming language, 
<a href="https://angularjs.org/">AngularJS</a> framework,
<a href="http://jquerymobile.com/">JQuery Mobile</a> library, and 
<a href="http://www.w3.org/TR/html5/">HTML 5</a>.
</p>

<p>
Open the sidebar menu and start testing features.
</p>
