<div class="center-wrapper">

  <!--<img src="images/wiring.png" alt="Temperature Sensor" /> -->

  <div class="vert-margin-large">
    <select data-ng-model="iot.duration"
               data-ng-options="d.label for d in iot.durations track by d.value"
               data-mini="true"
               data-inline="true"
               data-ng-change="iot.getTemperatureData(iot.duration.value)">
    </select>
  </div>

  <p style="width: 300px; text-align: justify;">
  Temperatures in Rubens' living room.
  </p>

  <div class="output-box">
    <table>
      <tbody>
        <tr data-ng-repeat="data in iot.sensorData">
          <td>[{{data.index}}]</td>
          <td style="text-align:right;">{{data.value}}</td>
          <td>{{data.unit | asDegreeSymbol}}</td>
          <td>{{data.utc | asDate | date:'hh:mm a MM/dd/yyyy'}}</td>
        </tr>
      </tbody>
    </table>
    <div class="error"
         data-ng-if="error && 0 != error.length">{{error}}</div>
  </div>

</div> <!-- center-wrapper -->

<br />
<p><span us-spinner spinner-key="spinner-1"></span></p>
